/*-------- OVERALL STYLES ---------*/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  margin: 0;
  font-family: "Geist", serif;
  font-weight: 300;
  font-style: normal;
  color: #0b4a79;
  text-align: center;
  background-color: #eff6f6;
}

video,
img {
  width: 100%;
  margin-top: 10px;
}

/*-------- TYPOGRAPHY ---------*/

h1 {
  font-size: 4.8rem;
  text-transform: uppercase;
  color: #e05a2a;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  margin: 0;
}

h2 {
  color: #e05a2a;
  text-transform: uppercase;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
}

/*-------- HEADER ---------*/
header {
  display: flex;
  justify-content: space-between;
  background-color: #eff6f6;
}

header img {
  object-fit: contain;
  width: 100px;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  padding: 8px 0;
}

nav ul li a {
  color: #0b4a79;
  text-decoration: none;
  font-weight: 500;
}

/*-------- MEDIUM DEVICES (mobile, 375px and up) ---------*/
.mobile-nav {
  display: none;
  text-transform: uppercase;
  background-color: #0b4a79;
  top: 60px;
  text-align: center;
}

.mobile-nav a {
  color: #eff6f6;
}

.mobile-nav ul {
  padding: 0;
}

.homepage-content {
  margin: 20px;
}

.facilities {
  margin: 20px;
}

.call-to-action {
  background-color: #0b4a79;
  padding: 22px;
  color: white;
  margin: 35px 0;
}

.call-to-action a {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #e05a2a;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 26px 0;
  padding: 15px 25px;
}

footer img {
  width: 200px;
  margin: 0;
}

footer li {
  list-style-type: none;
}

footer ul {
  padding: 0;
}

footer a {
  text-decoration: none;
  color: #0b4a79;
}

.footer-logo {
  margin: 40px;
}

.note {
  font-size: 11px;
  font-style: italic;
  color: grey;
  border-top: 1px solid grey;
  padding: 15px;
}

/* -----Hamburger icon menu----- */
.show-items {
  display: flex;
  flex-direction: column;
  text-align: justify;
  position: absolute;
  width: 100%;
  top: 60px;
}

/* Google map */
.google-map iframe {
  width: 100%;
}

/*-------- MEDIUM DEVICES (tablet, 768px and up) ---------*/
@media only screen and (min-width: 768px) {
  /*---No display for hamburger icon in desktop view-----*/
  .toggle {
    display: none;
  }

  main {
    font-size: 19px;
  }

  a {
    display: inline-block;
  }

  header {
    margin: 0 35px;
    align-items: center;
    font-size: 1.8rem;
  }

  header img {
    width: 200px;
  }

  .desktop-nav {
    display: block;
    background-color: #eff7f7;
    color: black;
  }

  .desktop-nav ul {
    display: flex;
    gap: 8rem;
  }

  .desktop-nav a {
    color: #0b4a79;
  }

  .homepage-content img {
    margin: 0;
  }

  .why-choose-us-section {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .why-choose-us-section img {
    width: 50%;
  }

  .our-mission {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: row-reverse;
  }
  .our-mission img {
    width: 50%;
  }
}

/*-------- LARGE DEVICES (desktops, 1200px and up) ---------*/
@media only screen and (min-width: 1200px) {
}
