/*-------- OVERALL STYLES ---------*/
* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.4rem;
    margin: 0;
    font-family: "Geist", serif;
    font-weight: 300;
    font-style: normal;     
    color: #0B4A79;
    line-height: 1.3;
  }
  
  video, img {
    width: 100%;
  }


  /*-------- TYPOGRAPHY ---------*/

h1 {
    font-size: 3.8rem;
    color: #e05a2a;
    line-height: 1.3;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  h2 {
    color: #e05a2a;
    line-height: 1.2rem;
  }

  h3 {
    font-weight: bold;
  }

  /*-------- HEADER ---------*/
  header {
    display: flex;
    justify-content: space-between;
    background-color: #EFF6F6;
  }
  
  header img {
    object-fit: contain;
    width: 200px;
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
  nav ul li {
    padding: 8px 0;
  }
  
  nav ul li a {
    color:#0B4A79;
    text-decoration: none;
    font-weight: 500;
  }
  


  /*-------- MEDIUM DEVICES (mobile, 375px and up) ---------*/
  .mobile-nav {
    display: none;
    text-transform: uppercase;
    background-color: #0B4A79;
    top: 60px;
    text-align: center;
  }
  
  .mobile-nav a {
    color:  #EFF6F6;
  }

  .mobile-nav ul {
    padding: 0;
  }


  /* -----Hamburger icon menu----- */
  .show-items {
    display: flex;
    flex-direction: column;
    text-align: justify;
    position: absolute;
    width: 100%;
    top: 85px;
  }

  /* Google map */
  .google-map iframe {
    width: 100%;
  }
